body{
    margin:0;
}
.flex{
    display: flex;
}
.header{
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
h1{
    color: yellow;
}
h2{
    background-color: grey;
    text-align: center;
    margin: 0;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}