body{
    margin:0;
}
.flex{
    display: flex;
}
.header{
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
h1{
    color: yellow;
}
h2{
    background-color: grey;
    text-align: center;
    margin: 0;
    padding: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.banner{
    background-image: url("../img/white\ bg.webp");
    background-size: cover;
    height: 400px;
}
.banner .flex{
    flex-direction: column;
    width: 15%;
    margin-left: 80%;
    padding-top: 2%;
    text-align: center;
}
.banner .flex a{
    color: black;
    background-color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
}
